.field { border-collapse: collapse; font-family: Calibri, sans-serif; user-select: none; }
.field colgroup, tbody { border: solid medium; }
.field td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }

.cell {
    border: 1px black solid;
    width: 48px;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}

.cell:hover {
    box-shadow: inset 0 0 10px rgba(0, 123, 255, 0.5);
}

.cell_draft {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.cell_fixed {
    font-size: 20px;
}

.cell_solved {
    font-size: 20px;
}